.main {
  width: 980px;
  margin: 0 auto;
}

mat-toolbar {
  margin-bottom: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  display: flex;
  align-items: center;

  img {
    display: block;
  }
}

.settings,
.download {
  padding-inline-start: var(--size-2);
}
