<mat-toolbar color="primary">
  <div class="logo">
    <a mat-button [routerLink]="['/']">
      <img ngSrc="/assets/logo.png" width="40" height="46" priority />
    </a>
  </div>
  <span class="spacer"></span>
  <form (submit)="submit()">
    <div class="search">
      <input type="text" [formControl]="form" />
      <mat-icon color="primary">search</mat-icon>
    </div>
  </form>

  <div class="settings">
    <button mat-mini-fab color="basic" (click)="openSettings()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>

  <div class="download">
    <button mat-mini-fab color="basic" (click)="addMedia()">
      <mat-icon>file_download</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="main">
  <router-outlet></router-outlet>
</div>
