.content {
  padding: var(--size-4);
}

.upload {
  padding-block: var(--size-4);
  display: flex;
  justify-content: center;

  mat-progress-bar {
    inline-size: 75%;
  }
}

.card {
  margin-block-end: var(--size-4);
  position: relative;
}
