:host {
  display: block;
  padding: var(--size-4);
}

.video {
  inline-size: 25%;

  video {
    width: 100%;
  }
}

loqui-record-text {
  margin-block-start: var(--size-5);
}

.record-info {
  inline-size: 50%;
}

.speakers-wrapper {
  position: sticky;
  inline-size: 25%;
}

.content {
  inline-size: 100%;
  display: flex;
  gap: var(--size-4);
}

loqui-speakers,
video {
  position: sticky;
  top: var(--size-4);
}

.chat {
  margin-block-end: var(--size-4);
  display: flex;
  justify-content: flex-end;
}
