@for (record of recordings(); track record.id) {
<mat-card class="card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ record.name }} </mat-card-title>
      <mat-card-subtitle>{{ record.date | loquiHowLong }} </mat-card-subtitle>
      @if (record.preview) {
      <img [src]="baseUrl + record.preview" />
      }
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p><span>Duration:</span> {{ record.duration | loquiDuration }}</p>
    <p><span>Speakers:</span> {{ record.speakers.length }}</p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="['record', record.id]">Detail</a>
    <button mat-button (click)="deleteReconding(record.id)">Delete</button>
  </mat-card-actions>
</mat-card>
}
