mat-card-header {
  margin-block-end: var(--size-4);
}

.speaker {
  display: flex;
  justify-content: space-between;
  margin-block-end: var(--size-2);
}

.name {
  cursor: pointer;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: var(--size-2);
}

mat-form-field  {
  inline-size: 100%;
}
